@media screen and (max-width:767px){
   
    .character-details-img>.img-fluid {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }    
}
@media screen and (min-width:768px){
    .character-details-img>.img-fluid {
        width: 100%;
        height: 25vw;
        object-fit: contain;
    }
}